<div class="contact">
  <h2>Get In Touch</h2>
  <p class ="message">Click here if you want to get in touch with me</p>
  <a class="btn" href="mailto:thuyvi2309@gmail.com">CONTACT ME</a>
</div>
</div>
<div class="bottom-section">
<a class="footer-link" href="https://www.linkedin.com/in/vi-vu-349ab5181/">LinkedIn</a>
<a class="footer-link" href="https://github.com/vivu23">GitHub</a>
<a class="footer-link" href="https://app.joinhandshake.com/users/17132064">Handshake</a>
<p class="signature">© 2020 Vi Vu</p>
</div>
</body>

</html>
