<%- include("partials/header") -%>

<div class="top-section">
  <img class="top-cloud" src="/images/cloud.png" alt="Cloud">
  <h1 class="myName">I'm Vi.</h1>
  <p class="myTitle">A developer.</p>
  <img class="bottom-cloud" src="/images/cloud.png" alt="Cloud">
  <img src="/images/mountain.png" alt="Mountain">
</div>
<div class="middle-section">
  <div class="profile">
    <img class="profile" src="/images/rsz_2003486.png" alt="Profile picture">
    <h2>Hello</h2>
    <p>I am a student at University of Texas - San Antonio. My major is Computer Science, and I have been working on some projects. </p>
    <p>I am looking for opportunities to work in order to gain industry and technical experience.</p>
  </div>
  <hr>
  <div class="projects">
    <h2>My Projects</h2>
    <div class="projects-row">
      <img class ="Website" src="/images/survey.png" alt="Website">
      <img class="arrow" src="/images/arrows.png" alt="">
      <a class="title" href="https://agile-mountain-95416.herokuapp.com/">Todo List</a>
      <p>I created this web app myself in order to practice my Web Development skills. This todo list will allow users to add the task that they need to do, check and delete the ones they finished and update the ones that they want.</p>
    </div>
    <div class="projects-row">
      <img class="piechart" src="/images/rsz_11budget_calculator.png" alt="Budget Calculator">
      <a class="title2" href="#">Budget Calculator   <img class="arrow" src="/images/left.png" alt=""></a>

      <p>This is a project that I am working on as a team leader of a group of five. This application will ask for the user's login infomation, let the user update their spendings, demonstrate their total spending in a chosen in period of time on a piechart, and calculate the monthly budget based on the user annual income.</p>
    </div>

  </div>
  <hr>

<%- include("partials/footer") -%>
